* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #c7e8f8;
  overflow: hidden;
}

.prontuario-container {
  width: 100%;
  height: 100vh;
  padding: 20px 40px 20px;
  background-color: #c7e8f8;
}

.prontuario-container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #111;
  margin-bottom: 18px;
}

.prontuario-form {
  width: 100%;
}

/* Topo */

.dados-topo {
  display: flex;
  align-items: flex-start;
  gap: 180px;
  margin-bottom: 20px;
}

.coluna-esquerda {
  width: 520px;
}

.coluna-direita {
  width: 520px;
}

.campo-linha {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
}

.campo-linha label {
  font-size: 18px;
  font-weight: bold;
  color: #111;
  min-width: 180px;
}

.coluna-direita .campo-linha label {
  min-width: 190px;
}

.campo-linha input {
  width: 330px;
  height: 32px;
  border: 2px solid #1460c9;
  border-radius: 8px;
  background-color: #f4f4f4;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.coluna-direita .campo-linha input {
  width: 330px;
}

.coluna-direita .campo-linha:last-child input {
  width: 330px;
}

/* Parte inferiro */

.parte-inferior {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-top: 25px;
}

.historico-wrapper {
  width: 700px;
}

.historico-wrapper h2 {
  font-size: 14px;
  font-weight: bold;
  color: #111;
  margin-bottom: 4px;
  margin-left: 8px;
}

.historico-box {
  position: relative;
  background-color: #f4f4f4;
  border: 2px solid #1460c9;
  border-radius: 10px;
  padding: 12px 16px 18px;
  height: 600px;
  overflow: hidden;
}

.btn-editar {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 62px;
  height: 22px;
  border: none;
  border-radius: 8px;
  background-color: #0b56b8;
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.campo-historico {
  margin-bottom: 12px;
}

.campo-historico label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #111;
  margin-bottom: 6px;
}

.campo-historico textarea {
  width: 100%;
  height: 110px;
  border: 2px solid #1460c9;
  border-radius: 10px;
  background-color: #f4f4f4;
  resize: none;
  outline: none;
  padding: 8px;
  font-size: 13px;
}

/*BOTÃO SALVAR */

.area-botao {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
}

.btn-salvar {
  width: 450px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #0b56b8;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn-salvar:hover,
.btn-editar:hover {
  background-color: #064aa0;
}



@media (max-width: 900px) {
  body {
    overflow: auto;
  }

  .prontuario-container {
    height: auto;
    min-height: 100vh;
    padding: 20px;
  }

  .dados-topo {
    flex-direction: column;
    gap: 10px;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100%;
  }

  .campo-linha {
    flex-direction: column;
    align-items: flex-start;
  }

  .campo-linha label,
  .coluna-direita .campo-linha label {
    min-width: auto;
  }

  .campo-linha input,
  .coluna-direita .campo-linha input,
  .coluna-direita .campo-linha:last-child input {
    width: 100%;
  }

  .parte-inferior {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .historico-wrapper {
    width: 100%;
    max-width: 700px;
  }

  .historico-box {
    height: auto;
    min-height: 390px;
  }

  .area-botao {
    width: 100%;
    padding-bottom: 0;
  }

  .btn-salvar {
    width: 100%;
    max-width: 340px;
  }
}